<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget
  id="com.miyunadev.kiirohana"
  version="0.0.2"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
>

  <!-- ===============================
       APP INFO
       =============================== -->
  <name>Kiirohana</name>
  <description>Kiirohana Cordova Application</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
    Miyuna Dev
  </author>

  <!-- ===============================
       ENTRY POINT
       =============================== -->
  <content src="index.html" />

  <!-- ===============================
       APP ORIGIN (PENTING)
       =============================== -->
  <!-- Jangan pakai app://localhost -->
  <preference name="scheme" value="https" />
  <preference name="hostname" value="app.local" />

  <!-- ===============================
       NETWORK & SECURITY
       =============================== -->
  <!-- Izinkan koneksi API (lokal & online) -->
  <access origin="*" />
  <allow-navigation href="*" />

  <!-- Izinkan intent eksternal -->
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <platform name="android">
  </platform>
  <platform name="android">
    <icon src="res/android/mipmap-mdpi/icon.png" density="mdpi"/>
    <icon src="res/android/mipmap-hdpi/icon.png" density="hdpi"/>
    <icon src="res/android/mipmap-xhdpi/icon.png" density="xhdpi"/>
    <icon src="res/android/mipmap-xxhdpi/icon.png" density="xxhdpi"/>
    <icon src="res/android/mipmap-xxxhdpi/icon.png" density="xxxhdpi"/>
    <resource-file
      src="res/android/xml/network_security_config.xml"
      target="app/src/main/res/xml/network_security_config.xml" />

    <edit-config
      file="app/src/main/AndroidManifest.xml"
      mode="merge"
      target="/manifest/application">
      <application android:networkSecurityConfig="@xml/network_security_config" />
    </edit-config>
  </platform>
  <platform name="electron">
    <preference
      name="ElectronSettingsFilePath"
      value="res/electron/settings.json"
    />
  </platform>
  <icon src="res/playstore.png" />
</widget>